<h3>Report an issue</h3>
<form *ngIf="issueForm"
      clrForm
      [formGroup]="issueForm"
      (ngSubmit)="addIssue()">
    <clr-input-container>
        <label>Title</label>
        <input clrInput
               formControlName="title" />
        <clr-control-error>Title is required</clr-control-error>
    </clr-input-container>
    <div *ngIf="suggestions.length"
         class="clr-row">
        <div class="clr-col-lg-2"></div>
        <div class="clr-col-lg-6">
            <clr-stack-view>
                <clr-stack-header>Similar issues
                </clr-stack-header>
                <clr-stack-block *ngFor="let issue of suggestions">
                    <clr-stack-label>#{{issue.issueNo}}:
                        {{issue.title}}</clr-stack-label>
                    <clr-stack-content>{{issue.description}}
                    </clr-stack-content>
                </clr-stack-block>
            </clr-stack-view>
        </div>
    </div>
    <clr-textarea-container>
        <label>Description</label>
        <textarea clrTextarea
                  formControlName="description"></textarea>
    </clr-textarea-container>
    <clr-radio-container clrInline>
        <label>Priority</label>
        <clr-radio-wrapper>
            <input clrRadio
                   formControlName="priority"
                   type="radio"
                   value="low" />
            <label>Low</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
            <input clrRadio
                   formControlName="priority"
                   type="radio"
                   value="high" />
            <label>High</label>
        </clr-radio-wrapper>
        <clr-control-error>Priority is required</clr-control-error>
    </clr-radio-container>
    <clr-select-container>
        <label>Type</label>
        <select clrSelect
                formControlName="type">
            <option value="Feature">Feature</option>
            <option value="Bug">Bug</option>
            <option value="Documentation">Documentation
            </option>
        </select>
        <clr-control-error>Type is required</clr-control-error>
    </clr-select-container>
    <button class="btn btn-primary"
            type="submit"
            [disabled]="!issueForm?.valid">
        {{ issue ? 'Update' : 'Create' }}
    </button>

    <button class="btn btn-danger"
            type="button"
            (click)="formClose.emit()">
        Close
    </button>
</form>
