<ng-container *ngIf="showReportIssue === false">

    <clr-datagrid>
        <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>
        <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
        <clr-dg-column [clrDgField]="'description'">Description
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'priority'">Priority
        </clr-dg-column>
        <clr-dg-row *clrDgItems="let issue of issues">
            <clr-dg-action-overflow>
                <button class="action-item"
                        (click)="selectedIssue = issue; showReportIssue = true">Edit
                </button>
                <button class="action-item"
                        (click)="selectedIssue = issue; showDialog = true">Resolve
                </button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{issue.type}}</clr-dg-cell>
            <clr-dg-cell>{{issue.title}}</clr-dg-cell>
            <clr-dg-cell>{{issue.description}}</clr-dg-cell>
            <clr-dg-cell>
                <span class="label"
                      [class.label-danger]=
                          "issue.priority === 'high'">{{issue.priority}}</span>
            </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{issues.length}} issues</clr-dg-footer>
    </clr-datagrid>
</ng-container>
<button class="btn btn-primary"
        (click)=
            "showReportIssue = true">Add new issue
</button>
<ap-issue-report *ngIf="showReportIssue === true"
                 [issue]="selectedIssue"
                 (formClose)="onCloseReport()"></ap-issue-report>
<ap-confirm-dialog *ngIf="showDialog && selectedIssue"
                   [issueNo]="selectedIssue.issueNo"
                   (confirm)="onConfirm($event)"></ap-confirm-dialog>
