<clr-modal [clrModalClosable]="false"
           [clrModalOpen]="issueNo !== null">
    <h3 class="modal-title">
        Resolve Issue #
        {{issueNo}}
    </h3>
    <div class="modal-body">
        <p>Are you sure you want to close the issue?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline"
                type="button"
                (click)="disagree()">Cancel
        </button>
        <button class="btn btn-danger"
                type="button"
                (click)="agree()">Yes, continue
        </button>
    </div>
</clr-modal>
